<h2>Submit your story</h2>

<form action="/stories" method="post">
	<input type="text" name="name" placeholder="your name">
	<input type="text" name="email" placeholder="email">
	<input type="text" name="story_image" placeholder="story image URL or .png">
	<input type="text" name="title" placeholder="story_title">
	<textarea name='narative'>your story here...</textarea>
	<button>Submit</button>
</form>



