
<div class='content-right col-lg-6 col-md-7 col-sm-6 col-xs-10 background_solid'>
<h2>Thanks for passin through</h2>

<p>The Visitor was created for two reasons: 

	1. To allow readers to discover aspects of their home town they never knew existed. 

	2. To connect strangers through stories.

	When we know more about the world around us, it grows a little brighter. When we know more about the lives of peolpe around us, our neighborhood feels a little homier.

	Come on in and meet your town.

	  </p>

</div>



