<div class='content-right col-lg-7 col-md-6 col-sm-6 col-xs-10 '>
	
	<h2>The Visitor was conjured by:</h2>
	<br>
	<h4>zack dinerstein</h4>
	<h4>zackdhome@gmail.com</h4>

	<br>

	<h4>&</h4>

	<br>

	<h4>francisco baiocchi</h4>
	<h4>franciscobaiocchi@gmail.com</h4>

</div>