
/*FONT STUFF*/

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

nav ul li {
	padding: .5em;
}

@font-face {
	font-family: MyCustomBebas;
	src: url("BebasNeue-webfont.eot") /* EOT file for IE */
}

@font-face {
	font-family: MyCustomBebas;
	src: url("bebas_neue_regular.ttf") /* TTF file for CSS3 browsers */
}

.font_style {
	font-family: MyCustomBebas, Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: titleFont;
	src: url("BebasNeue Bold.ttf")
}

@font-face {
  font-family: 'Bebas_Book';    
  // No need any embeded Ruby code here
  src: url('fonts/BebasNeue_Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas_Bold';    
  src: url('fonts/BebasNeue_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 


.title_font {
	font-family: Bebas_Bold, Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
	padding-left: 0em;
	border-style: double none;
	text-align: center;
}

li {
	display: inline;
	padding-left: .25em;
	padding-right: .25em;

}

header {
	padding-bottom: 1em;
}

textarea {
	width: 31.5em;
	height: 30em;
}

form {
	margin-bottom: 2em;
}

body { 
  background-image: url('lighter_mta.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brooklyn_bg_image {
	 background-image: url('brooklyn_background.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.select {
	width: 11em;
}

.header {
	/*width: 25em;*/
	margin-bottom: 1em;
}

.story_preview_pic {
	height: 5em;
	width: 5em;
	margin-right: 1em;
}

.story_preview_div {
	border-bottom: 1px solid black;
	padding-bottom: 1em;
	padding-top: 1em;
}

.negative_bottom_margin {
	margin-bottom: -.5em;
}

.inline {
	display: inline;
}

.relative {
	position: relative;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }

.background_solid {
	background-color: rgba(241, 241, 241, 1)
}

.background_solid_darker {
	background-color: rgba(236, 235, 235, 1)
}

.large_story_image {
	width: 30em;
	margin-top: 2em;
	margin-bottom: 2em;
}

.two_em_margin_bottom {
	margin-bottom: 2em;
}

.two_em_padding_bottom {
	padding-bottom: 2em;
}

.bottom_double_border {
	border-style: none none double none;
}

.point_two_em_padding_bottom {
	padding-bottom: .2em;
}

.top_margin {
	margin-top: 2em;
}

.rounded_border {
	border-radius: .5em;
}

.shadow {
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
	box-shadow: 0 0 30px 5px #999;
}

.logo { 
  background-image: url('logo.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 2.7em;
  margin-top: 1em;
  margin-bottom: .5em;
  margin-right: 4em;
}

.slogan {
	margin-left: .3em;
	font-size:1.6em;
}

.bold_title_font {
	font-family: 'Josefin Slab', serif; 
	font-weight: 700;
}

.light_title_font {
	font-family: 'Josefin Slab', serif; 
	font-weight: 400;
}

.oswald {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

#one {
	 background-image: url('brooklyn_background.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

